<!doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>foo</h2>
    <h1>Hi <%= user.email %></h1>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>
