<div id="content_test">
  <header>
    <h1><%= @site.name %></h1>
  </header>

  <header>
    <h2><%= @test.comparison %> <%= @test.content %></h2>
  </header>

  History of tests goes here
</div>
