<h1 class="ohnoes">D:</h1>

<h3>
  Please enable 3rd Party Cookies <br />
  <small>(or whitelist <%= request.original_url %>)</small>
</h3>

<p>Hi there, it looks like you might have disabled 3rd party cookies.</p>

<p>Because this app actually runs out on the internet, it needs to use 3rd party cookies to store your user session and know who you are. Without the cookies, URL Up isn't going to be able to log you in.</p>

<p>Don't worry though, we can help you enable your cookies:</p>

<ul>
  <li><a href="https://support.google.com/chrome/answer/95647?hl=en">Enable 3rd party cookies in Chrome</a></li>
  <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Enable 3rd party cookies in Firefox</a></li>
  <li><a href="http://windows.microsoft.com/en-us/windows7/block-enable-or-allow-cookies">Enable 3rd party cookies in Internet Explorer</a></li>
</ul>

<p>If you don't want to enable 3rd party cookies for the wider Internet, you can whitelist this app using the following URL:</p>

<p><%= request.original_url %></p>
