<script type="text/javascript">
 $(document).ready(function(){
     // this is demo scripts for testing the spiceworks app
   var card = new SW.Card();
   var environment = card.services('environment');
   environment.request('environment').then(function(data){
     $.ajax({
       type: 'post',
       headers: {
         'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
       },
       data: data,
       complete: function(response) {
         if (response.responseJSON.status == "ok") {
           window.location.replace("<%= sites_path %>");
         } else {
           $('h1').html('There was an error connecting your account');
         }
       },
       url: "accounts/create"
     });
   });
 });
</script>

<%= image_tag "ajax-loader.gif", class: "loading" %>

<h3>Please wait while we connect your account</h3>
